Options -Indexes
RewriteEngine On
ServerSignature Off

# Security
<IfModule mod_headers.c>
        Header set Content-Security-Policy "default-src 'self'"
        Header always set X-FRAME-OPTIONS "DENY"
        Header always set X-Content-Type-Options "nosniff"
</IfModule>

<FilesMatch ".(htaccess|htpasswd|ini|psd|log|sh|env)$">
        Order Allow,Deny
        Deny from all
</FilesMatch>

# Mise en cache
<IfModule mod_expires.c>
        # ExpiresActive On
        # ExpiresDefault "access plus 1 month"
        # ExpiresByType image/x-icon "access plus 1 year"
        # ExpiresByType image/gif "access plus 1 month"
        # ExpiresByType image/png "access plus 1 month"
        # ExpiresByType image/jpeg "access plus 1 month"
        # ExpiresByType text/css "access plus 1 year"
        # ExpiresByType application/javascript "access plus 1 year"
</IfModule>

# Redirection to index.php
RewriteCond $1 !^(index\.php|assets/.*\.(jpg|png|css|js|ttf|woff|woff2)|config/database/admin)
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d