@import '../bootstrap/css/bootstrap.min.css';
@import '../fontawesome/css/all.css';
@import '../fontawesome/css/brands.min.css';
@import '../fontawesome/css/regular.min.css';
@import '../fontawesome/css/solid.min.css';

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    color: #4d4d4d;
    src: url('../font/roboto-v20-latin-regular.eot') format('embedded-opentype');
    src: url('../font/roboto-v20-latin-regular.svg#Roboto') format('svg'),
        url('../font/roboto-v20-latin-regular.ttf') format('truetype'),
        url('../font/roboto-v20-latin-regular.woff') format('woff'),
        url('../font/roboto-v20-latin-regular.woff2') format('woff2');
}

::-moz-selection{
    color: antiquewhite;
    background-color: #5d05ff; 
    opacity: 0.6;
}

::selection {
    color: antiquewhite;
    background-color: #4747e6;
    opacity: 0.6;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color:#cccccc;
    border-radius: 15%;
    box-shadow: 0px 8px 10px 0px grey;
}

::-webkit-scrollbar-thumb:hover {
    background-color: cadetblue;
    border-radius: 0%;
    opacity: 0.8;
    box-shadow: 0px 9px 12px 0px grey;
}

::-webkit-scrollbar-track {
    border-radius: 15%;
    background-color: #dedede;
}

#upload {
    opacity: 0;
    position: absolute;
    display: none;
}

#uploadAvatar {
    opacity: 0;
    position: absolute;
    display: none;
}

.uploadBtn {
    white-space: nowrap;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blocavatarfile {
    width: 170px; 
    height: 170px;
    border-radius: 50%; 
    box-shadow: 0px -0.25px 5px 0px gray;
}

.blocavatarfile:hover {
    box-shadow: 0px -0.25px 8px 0px gray;
}

.blocavatar {
    width: 170px; 
    height: 170px;
    position: relative;
    border-radius: 50%; 
    overflow: hidden;
}

.avatar {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    object-fit: cover;
}

.avatarHover {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    opacity: 0;
    background-color: black;
    transition: opacity 0.3s;
}
.avatarHover:hover {
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    opacity: 0.5;
    background-color: black;
    transition: opacity 1s;
}

.selectSetter {
    cursor: pointer;
}